{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="css/mystyle.css">

<style>
    #about {
        background: linear-gradient(to right, #4e54c8, #8f94fb);
        color: #fff;
    }

    #about p {
        color: #ccc; /* You can customize the paragraph text color here */
    }
</style>

<section id="about" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <div class="section-subtitle">ABOUT US</div>
                    <h2 class="section-main-title mt-2 ">Welcome to MOVEITNOW - Your trusted Movers and Packers</h2>
                </div>
                <div class="about-item">
                    <p>Embark on a journey of seamless relocation with MOVEITNOW. As a leading online packers and movers company, we take pride in our commitment to excellence, reliability, and personalized service.</p>
                    <p>At MOVEITNOW, we understand that every move is unique. Our team of dedicated professionals is here to ensure a stress-free and efficient relocation experience tailored to your specific needs.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-box">
                    <img src="{% static 'images/1.jpg' %}" alt="Car Transportation" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="bg-dark text-white text-center py-3">
    <p style="font-size: 50px;"><b>MOVEITNOW</b> - Your Trusted Movers and Packers</p>
</footer>

