{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-IZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9s+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body style="background-image: url({% static 'images/bg.png' %})">
<div class="row">
    <div class="col-lg-5 m-auto">
        <div class="card mt-5 bg-dark">
            <div class="card-title text-center mt-3">
                <img src="{% static 'images/adminlogin.png' %}" width="150" height="150">
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user fa-2x"></i>
                            </span>
                        </div>
                        <input type="text" name="username" class="form-control py-4" placeholder="Username" id="">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock fa-2x"></i>
                            </span>
                        </div>
                        <input type="password" name="pwd" class="form-control py-4" placeholder="Password" id="">
                    </div>
                    <input type="submit" value="Login" class="btn btn-success" name="" id="">
                    <a href="{% url 'index' %}" class="float-right text-white mt-2">Go Back To Home</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
{% if error == "no" %}
<script>
alert('Logged In Successfully');
window.location = ('{% url 'admin_home' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
alert('Invalid Login Credential , Try Again...');
</script>
{% endif %}
